body
    background-color: #eee
strong
    color: #800

.titleCard
    text-align: center
    padding: 1rem 0
    h1
        margin: 0.5rem 0
    h2
        margin: 0.25rem 0
    .logo
        width: 100px
        margin: 0 auto

.section
    background-color: #fff
    margin: 0.5rem auto
    border: 2px solid black
    border-radius: 0.5rem
    padding: 0.5rem 1rem
    max-width: 800px
    h3
        color: #333
        margin: 0.5rem 0
    h4
        margin: 0.5rem 0
    input
        border-radius: 0.25rem
        padding: 0.25rem 0.5rem
        font-size: 12pt
    input[type='text']
        border: thin solid black
        width: 24rem
    input[type='button']
        border: thin solid #030
        background-color: #308730
        font-weight: 500
        color: white
        margin-left: 2rem
        margin-right: 1rem
        cursor: pointer
    input:disabled
        cursor: default
    p.response
        border: thin solid #333
        padding: 1rem
    p.request
        font-weight: 500
        padding-left: 1rem

.codeSample
    padding: 1rem 2rem
    background-color: #333
    color: white

input[type='button'].disabled
    background-color: #888

.spinner
    animation: spin infinite 2s linear

@keyframes spin
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)
