body
    background-color: #eee
    margin: 0
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
strong
    color: #800
code
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

h1, h2, h3, h4
    color: #333
    margin: 0.5rem 0

.titleCard
    text-align: center
    padding: 1rem 0
    .logo
        width: 100px
        margin: 0 auto

.section
    background-color: #fff
    margin: 0.5rem auto
    border: 2px solid #333
    border-radius: 0.5rem
    padding: 0.5rem 1rem
    max-width: 800px
    input
        border-radius: 0.25rem
        padding: 0.25rem 0.5rem
        font-size: 12pt
    input[type='text']
        border: thin solid #333
        width: 24rem
    input[type='button']
        border: thin solid #030
        background-color: #308730
        font-weight: 500
        color: white
        margin-left: 2rem
        margin-right: 1rem
        cursor: pointer
    input:disabled
        cursor: default
    p.assistant
        border: thin solid #333
        padding: 1rem
    p.user
        font-weight: 500
        padding-left: 1rem
    p.system
        font-style: italic
        border-left: thick solid #ddd
        padding-left: 0.5rem

.codeSample
    padding: 1rem 2rem
    background-color: #333
    color: #fff

input[type='button'].disabled
    background-color: #888

.spinner
    animation: spin infinite 2s linear

@keyframes spin
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)
