body
    background-color: #eee
.chatSection
    background-color: #fff
    margin: 0.5rem auto
    border: 2px solid black
    border-radius: 0.5rem
    padding: 0.5rem 1rem
    max-width: 800px
    h3
        color: #333
        margin: 0.5rem 0
    h4
        margin: 0.5rem 0
    input
        border-radius: 0.25rem
        padding: 0.25rem 0.5rem
        font-size: 12pt
    input[type='text']
        border: thin solid black
        width: 24rem
    input[type='submit']
        border: thin solid #030
        background-color: #0e0
        margin-left: 2rem
    p.response
        border: thin solid #333
        padding: 1rem
